{{#author}}

    <section class="panel">
        <section class="panel-body">
            <section class="row">
                <section class="three columns u-text-centered">
                    {{#if image}}
                        <img src="{{image}}" class="image image-squared" />
                    {{/if}}
                </section>
                <section class="nine columns">
                    <h3 class="example-header">{{name}}</h3>
                    {{#if bio}}
                        <p>{{bio}}</p>
                    {{/if}}
                    <a class="button" id="moreAboutMe" href="{{url}}">More about me</a>
                </section>
            </section>
        </section>
    </section>

{{/author}}
