<section class="container u-text-centered ihana-social-media">
 <a href="https://twitter.com/eletorro" target="_blank"><i class="icon icon-twitter"></i></a>
 <a href="https://github.com/elenatorro" target="_blank"><i class="icon icon-github"></i></a>
</section>
