
// Variables

$sidebar-expanded-width: 250px;
$sidebar-collapsed-width: 0;
$sidebar-toggle-margin: 10px;
$sidebar-toggle-size: 1.5em;
$wrapper-media-padding: 20px;
$sidebar-transition-width-duration: 0.2s;
$sidebar-background-color: #0F0F0F;
$sidebar-color: $colors-primary;
$sidebar-item-active-background-color: lighten($sidebar-background-color, 10%);

// Sidebar

.ain-sidebar {
  width: $sidebar-expanded-width;
  height: 100%;

  top: 0;
  left: 0;

  position: fixed;
  padding: 0;

  color: $sidebar-color;
  background-color: $sidebar-background-color;
  border-right: $ihana-border-style;

  overflow: hidden;
  transition: width $sidebar-transition-width-duration;

  z-index: $base-z-index-2;

  a {
    color: $colors-primary-background;
  }

  .ain-sidebar-container {
    height: 100%;
  }

  &.ain-sidebar-collapsed {
    width: $sidebar-collapsed-width;
  }

  .ain-navbar-link {
    width: 100%;

    color: $colors-white;

    &:hover {
        background-color: $sidebar-item-active-background-color;
    }
  }
}

.ain-sidebar-toggle-button {
  @extend .icon;

  position: absolute;
  top: $sidebar-toggle-margin;

  display: inline-block;

  font-size: $sidebar-toggle-size;

  transition: left $sidebar-transition-width-duration;

  z-index: $base-z-index-2;

  visibility: hidden;
}

.ain-sidebar-toggle {
  @extend .ain-sidebar-toggle-button;
  @extend .icon-circle-left;

  left: $sidebar-expanded-width + $sidebar-toggle-margin * 2;
}

.ain-sidebar-toggle-collapsed {
  @extend .ain-sidebar-toggle-button;
  @extend .icon-circle-right;

  left: $sidebar-toggle-margin + $sidebar-toggle-margin * 2;
}

.ain-wrapper {
  width: inherit;
  height: 100%;

  top: $wrapper-media-padding;
  right: 0;
  left: $sidebar-expanded-width;
  position: absolute;

  transition: left $sidebar-transition-width-duration;
}

.ain-wrapper-expanded {
  left: $sidebar-toggle-margin !important;
}

.ain-sidebar-collapsed {
  width: 0;

  .ain-sidebar-footer,
  .ain-sidebar-item {
    display: none;
  }
}

.ain-sidebar-item {
  width: 100%;

  display: block;
  margin: 0;

  transition: margin-right $sidebar-transition-width-duration;

  &.ain-sidebar-item-active {
    background-color: $sidebar-item-active-background-color;
  }
}

.ain-sidebar-footer {
  width: 100%;
  bottom: 0;
  left: 0;

  position: absolute;
  display: block;

  padding: $base-padding-size;
}

// Media Queries

@media (max-width: $base-media-phone-min) {
  .ain-wrapper {
    width: 100%;
    left: $sidebar-expanded-width + $wrapper-media-padding;
    padding-right: $wrapper-media-padding;
  }

  .ain-wrapper-expanded {
    padding-left: 0;
  }

  .ain-sidebar-toggle-button {
    visibility: visible;
  }
}
